<html lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>RSA Dojo</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/Materialize/bin/materialize.css">
	<!-- endbower -->
	<!-- bower:js -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->


</head>
<body>

<!-- nav -->

<div class="navbar-fixed">
	<nav class="black" role="navigation ">

		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo" style="color:red;">RSA</style> Dojo </a>

			<ul class="right hide-on-med-and-down">
				<li><a href="http://www.rsa.ninja/">Home</a></li>
				<li><a href="#">DevOps</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="http://www.rsa.ninja/">Home</a></li>
				<li><a href="#">DevOps</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>
<!-- cards view -->
<div class="container">
	<div class="section">

		<div class="row">
			<h3>
				Welcome
			</h3>
			<div id="Design" class="col s12 m4" style="display:block; ">
				<div class="card" style="display:block;">
					<!--making whole card hyperlink-->
					<a href="#">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://www.pointspeakmarketing.com/images/design.png" width="400px" height="250px">
						</div>
						<div class="card-content">
							<span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
								Design
							</span>
						</div>
					</a>
					<div class="card-action">
						<a href="#">Details</a>
					</div>
				</div>
			</div>
			<div id="Deploy" class="col s12 m4" style="display:block; ">
				<div class="card" style="display:block;">
					<!--making whole card hyperlink-->
					<a href="#">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0LZFTM8yxO8eesAI3LpaH0Kgtm3vqF5W4Hb_LDs-j3IzQyXxR" width="400px" height="250px">
						</div>
						<div class="card-content">
							<span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
								Deploy
							</span>
						</div>
					</a>
					<div class="card-action">
						<a href="#">Details</a>
					</div>
				</div>
			</div>
			<div id="Inject" class="col s12 m4" style="display:block; ">
				<div class="card" style="display:block;">
					<!--making whole card hyperlink-->
					<a href="#">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://www.wallpaperup.com/uploads/wallpapers/2013/08/28/139988/ec1048f23c49d0455ae6a679e14902c0-250.jpg" width="400px" height="250px">
						</div>
						<div class="card-content">
							<span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
								Inject
							</span>
						</div>
					</a>
					<div class="card-action">
						<a href="#">Details</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>


</div>

</body></html>